// VARIABLES
$mobile: 320px;
$tablet: 768px;
$desktop: 960px;

// CSS
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
  background: #eee;
}
a, input{
    outline: none;
    text-decoration: none;
}
li{
  list-style-type: none;
}
.mainContainer{
  max-width: $desktop;
  margin: 0 auto;
}
// @EXTEND
%inline{
    display: inline-block;
    vertical-align: top;
  }

// @INCLUDE
@mixin respond-to($media) {
  @if $media == mobile {
    @media (max-width: $tablet - 1) { @content; }
  }
  @else if $media == tablet {
    @media (min-width: $tablet) { @content; }
  }
  @else if $media == desktop {
    @media (min-width: $desktop) { @content; }
  }
}
@mixin mobile {
  @include respond-to(mobile) {
    @content
  }
}
@mixin tablet {
  @include respond-to(tablet) {
    @content
  }
}
@mixin desktop {
  @include respond-to(desktop) {
    @content
  }
  .old-ie & {
    @content
  }
}

@mixin transition($mSec){
    transition: $mSec ease-in-out;
}
