.card{
  margin: 0 auto;
  text-align: center;
  // box-shadow: 2px 2px 4px 0px rgba(214,214,214,1);
  // box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.5);
  // background: white;
  background: #eee;
  border-radius: 6px;
  margin: 10px;
  border: 1px solid #95A5A6;
  font-size: 0;
  // transition: 5 ease-in-out;
  &_wrap{
    margin: 0 auto;
    padding: 15px 10px 5px 10px;
    position: relative;
  }

  &_line-title{
    margin: 0 auto;
    // & i{
    //   font-size: 16px;
    //   color: #95A5A6;
    //   position: absolute;
    //   right: 56px;
    //   top: 13px;
    //   line-height: 30px;
    //   width: 30px;
    //   height: 30px;
    //   &:hover{
    //     cursor: pointer;
    //     color: #18BC9C;
    //   }
    // }
  }

  &_length{
    font-size: 16px;
    color: #95A5A6;
    position: absolute;
    left: 15px;
    top: 19px;
    @extend %inline;
    &:hover{
      cursor: default;
    }
  }
  &_title{
    font-size: 20px;
    color: #3498DB;
    @extend %inline;
  }
  &_language{
    font-size: 16px;
    color: #95A5A6;
    position: absolute;
    right: 12px;
    top: 13px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    &:hover{
      cursor: pointer;
      color: #18BC9C;
    }
  }
  &_interface{
    position: relative;
    border: 1px solid #95A5A6;
    font-size: 0px;
    margin: 15px auto 0;
    // padding-top: 15px;
    height: 310px;
    // background-color: white;
    background-color: #fdfdfd;
    // background-color: #fbfbfb;
    border-radius: 6px;
    // box-shadow: 2px 2px 4px 0px rgba(214,214,214,1);
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.5);
  }

  &_variables{
    margin-top: 15px;
    font-size: 20px;
    width: 33.333333333333336%;
    @extend %inline;
    &-correct{
      color: #18BC9C;
    }
    &-left{
      color: #76818D;
    }
    &-wrong{
      color: #E74C3C;
    }
    &-final{
      color: #F39C49;
    }
    &:hover{
      cursor: default;
    }
  }

  &_line-center{
    margin: 0 auto;
    margin-top: 30px;
    width: 90%;
    position: relative;
  }

  &_question{
    color: #F39C49;
    font-size: 22px;
    height: 100px;
    line-height: 25px;
    text-overflow: hidden;
    word-spacing: 5px;
    text-transform: capitalize;
    &:first-letter{
      text-transform: uppercase;
    }
  }

  &_answer{
      width: 100%;
      height: 100px;
      line-height: 25px;
      display: block;
      color: #95A5A6;
      font-size: 22px;
      word-spacing: 5px;
      text-overflow: hidden;
      text-transform: capitalize;
      &:first-letter{
        text-transform: uppercase ;
      }
    }

  &_line-button{
    margin-top: 10px;
    margin-bottom: 5px;
    position: relative;
  }
  &_btnjoin{
    box-sizing: border-box;
    width: 100%;
    height: 160px;
    border-radius: 4px;
    border: none;
    background-color: #95A5A6;
    // box-shadow: 2px 2px 4px 0px rgba(214,214,214,1);
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.5);
    &:hover{
      cursor: pointer;
    }
  }
  &_icon{
    width: 50%;
    height: 160px;
    position: absolute;
    top: 0;
    @extend %inline;
    &-ok{
      left: 0;
      & i{
        border-radius: 4px;
        margin-right: 1.5%;
      }
    }
    &-no{
      right: 0;
      & i{
        border-radius: 4px;
          margin-left: 1.5%;
      }
    }
    & i{
      // box-shadow: 2px 2px 4px 0px rgba(214,214,214,1);
      box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.5);
      background-color: #95A5A6;
      width: 98.5%;
      font-size: 48px;
      line-height: 160px;
      color: white;
      &:hover{
        cursor: pointer;
      }
    }
  }
}
.box_shadow{
  box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.5);
}
 .grid{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 0;
  width: 100%;
  margin: 0 auto;
  &_item{
    // box-shadow: 2px 2px 4px 0px rgba(214,214,214,1);
    // transition: 5 ease-in-out;
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.5);
    position: relative;
    color: #95A5A6;
    margin: 5px;
    font-size: 16px;
    height: 42px;
    width: 50px;
    // padding-left: 6px;
    border-radius: 6px;
    border: 1px solid #95A5A6;
    background: #fdfdfd;
    @extend %inline;
    &:hover{
      cursor: pointer;
    }
    & span{
      display: block;
      line-height: 20px;
    }
    &-active{
      border: none;
      background: #18BC9C;
      color: white;
    }
  }
  &_block{
    // display: inlineblock;
    // border: 1px solid red;
    color: #95A5A6;
    background: #f9f9f9;
    border-top: 1px solid #95A5A6;
    border-right: 1px solid #95A5A6;
    border-radius: 25%;
    text-align: center;
    width: 15px;
    height: 15px;
    line-height: 15px;
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.5);
    // box-shadow: -5px 5px 5px 0px rgba(241,241,241,0.75);
    // box-shadow: -2px 2px 4px 0px rgba(214,214,214,1);
    // box-shadow: -2px 2px 10px 0px rgba(51,49,51,1);
    // padding-top: 1px;
    font-size: 10px;
    position: absolute;
    top: -5px;
    right: -5px;
    // display: none;
  }
}

.card_controls{
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-flow: row no-wrap;
  justify-content: space-between;
}

.icon_copy-eng, .icon-settings, .playedRounds, .playedRoundsEN, .playedRoundsRU{
  font-size: 22px;
  color: #76818D;
  display: flex;
  flex-grow: auto;
  align-items: center;
  @extend %inline;
  &:hover{
    cursor: pointer;
  }
}
.icon_copy-eng, .icon-settings{
  width: 30px;
  height: 30px;
  justify-content: center;
  &:hover{
    color: #18BC9C;
  }
}

.playedRounds, .playedRoundsEN, .playedRoundsRU{
  &:hover{
    cursor: default;
  }
}

.quantity{
  text-align: center;
  width: 100px;
  border-radius: 6px;
  border: 1px solid #3498DB;
  color: #76818D;
  padding-right: 4px;
}

// .grid{
//   display: flex;
//   flex-flow: row wrap;
//   justify-content: space-between;
//   &_item{
//     border: 1px solid #
//     &:hover{
//       cursor: pointer;
//     }
//     &-active{
//       border: none;
//     }
//   }
// }

.notActive{
  display: none;
  // transition: 5s ease-in-out;
  // visibility: hidden;
  // opacity: 0;
  // transition: all 2s;
}

// .card_answer::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease; color: #95A5A6;}
// .card_answer::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease; color: #95A5A6;}
// .card_answer:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease; color: #95A5A6;}
// .card_answer:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease; color: #95A5A6;}
// .card_answer:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
// .card_answer:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
// .card_answer:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
// .card_answer:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.quantity::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease; color: #95A5A6;}
.quantity::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease; color: #95A5A6;}
.quantity:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease; color: #95A5A6;}
.quantity:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease; color: #95A5A6;}
// .quantity:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
// .quantity:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
// .quantity:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
// .quantity:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
